<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD App</title>
</head>
<body>
    <h1>Books</h1>
    <ul>
        {% for book in books %}
            <li>{{ book.id }} - {{ book.title }} by {{ book.author }} | <a href="{{ url_for('edit', id=book.id) }}">Edit</a> | <a href="{{ url_for('delete', id=book.id) }}">Delete</a></li>
        {% endfor %}
    </ul>
    <form action="/add" method="post">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" required>
        <label for="author">Author:</label>
        <input type="text" id="author" name="author" required>
        <button type="submit">Add Book</button>
    </form>
</body>
</html>
